extends layout

block head

block content
  .container.text-justify
    .section-title
      h2 What it's all about
      a(href='https://www.bbc.co.uk/news/uk-england-devon-56759967') A charity faces an annual bill of £32,000 to dispose of donated items that it cannot sell.
      p With the rise of people being unable to leave their homes during lockdown, there has been a dip in donations and sales in charity shops; however, when lockdown has been lifted, there has been an excessive amount of donations, a lot of which aren't suitable.
      p "Donate to NHS Charity Shops" allows you to donate to local charity shops in need of donations, and helps maintain consistent donations whenever society needs to go into lockdown. To donate, simply upload a picture of your item to the online charity shop on the Donate tab. If it isn't suitable, it can be sold online as a non-charity item and proceedings from the sale go to NHS charities, or be transferred to recycling facilities.
      p
      h2 What's Appropriate To Donate?
      p You can't donate anything that presents a hygiene risk but it may be eligible for recycling.
      p Donate your pre-loved items that are ready to be loved by somebody else.
      p The good news is the online charity shop may be able to take more items than your local charity shop. Try uploading the item and seeing the response.
      p  
      p Shop donations on the shop tab and start helping your nominated charity!
