extends layout

block content
  h1 Pending Donations
  p.lead Here is what local NHS supporters are offering.
  hr
  .row  
    .col-sm-6
      for donation in donations
        .form-group.row
          .col-sm-3 Donation Item
          .col-sm-3=donation.item
        .form-group.row
          .col-sm-3 Donation Photo
          .col-sm-3=donation.photo
        .form-group.row
          .col-sm-3 Donated by
          .col-sm-3=donation.donatedby
        .form-group.row 
          .col-sm-3 Status 
          .col-sm-3=donation.status
          .col-sm-3 
            button.btn.btn-success(type='submit')
              | Accept
          .col-sm-3
            button.btn.btn-danger(type='submit')
              | Reject
            
        hr
