extends layout

block content
  .jumbotron.bg-cover.text-white(style='background: url(https://i.postimg.cc/bYKyLrFv/79889.jpg)')
    .container.py-5.text-center
      h1.display-4.font-weight-bold Donate To NHS Charity Shops
      h4.font-italic.mb-0
        | Reduce Waste - Help Yorkshire Recover - Help Others Through Donations
  .row
    .col-sm.text-center
      i.fa.fa-handshake.fa-10x
      h2 Social
      h5 Person To Person Donations
      p
    .col-sm.text-center
      i.fa.fa-hand-holding-heart.fa-10x
      h2 Local
      h5 Help Your Local NHS Trust Charity Shop
      p  
    .col-sm.text-center
      i.fa.fa-recycle.fa-10x
      h2 Environmental
      h5 Reduce Waste Through Re-use
      p
